* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 145, 190);
    height: 1000px;
}

h1 {
    font-family: sans-serif;
    margin: 10px;
}

input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

form {
    margin: 10px;
}


button {
    scale: 1.1;
    margin-left: 10px;
    font-weight: 500;
    padding: 5px;
    color: rgb(30, 30, 78);
}

a {
    padding: 10px;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 10px;
}